[submodule "DVDProfilerXML"]
	path = DVDProfilerXML
	url = https://github.com/DJDoena/DVDProfilerXML.git
[submodule "EnhancedNotes"]
	path = EnhancedNotes
	url = https://github.com/DJDoena/EnhancedNotes.git
[submodule "EnhancedPurchaseInfo"]
	path = EnhancedPurchaseInfo
	url = https://github.com/DJDoena/EnhancedPurchaseInfo.git
[submodule "EnhancedTitles"]
	path = EnhancedTitles
	url = https://github.com/DJDoena/EnhancedTitles.git
[submodule "EnhancedNotesLibrary"]
	path = EnhancedNotesLibrary
	url = https://github.com/DJDoena/EnhancedNotesLibrary.git
[submodule "EnhancedTitlesLibrary"]
	path = EnhancedTitlesLibrary
	url = https://github.com/DJDoena/EnhancedTitlesLibrary.git
[submodule "EnhancedPurchaseInfoLibrary"]
	path = EnhancedPurchaseInfoLibrary
	url = https://github.com/DJDoena/EnhancedPurchaseInfoLibrary.git
[submodule "EnhancedFeaturesLibrary"]
	path = EnhancedFeaturesLibrary
	url = https://github.com/DJDoena/EnhancedFeaturesLibrary.git
[submodule "DigitalDownloadInfoLibrary"]
	path = DigitalDownloadInfoLibrary
	url = https://github.com/DJDoena/DigitalDownloadInfoLibrary.git
[submodule "DVDProfilerHelper"]
	path = DVDProfilerHelper
	url = https://github.com/DJDoena/DVDProfilerHelper
